#cta2{
	padding: 70px;
}

h3{
	text-align:center;
}

.team-member p{
	text-align:center;
}

.team-spacer{
	width:12.5%;
}

.process-spacer{
	width:24.5%;
}

#contact .container-wrapper{
	background: none;
}

.social-icons{
	text-align:center;
}

.carousel-content{
/*
margin-left:-20%;
margin-top:-15%;
*/
}

#main-slider .slider-inner h2{
font-size: 42px;
text-align:center;
text-shadow: 2px 2px #555;
margin-top: center;
margin-bottom: center;
text-transform:none !important;
display: inline-block;
padding: 10px 15px;
background: #212121 none repeat scroll 0% 0%;
color: white !important;

background:rgba(0,0,0,0.5);
}

.bigwidth{
width:600px;
}

.col-sm-6{

}
